/* .body_home_banner {
	background-image: url("../../assets/images/bannerimage1.svg"), url("../../assets/images/agovBanner1.svg");
	background-color: #1e1a40;
	background-repeat: no-repeat;
	background-size: cover, contain;
	background-size: 60% 118%, 100% 52%;
	background-position: top right, top right;
} */
